    <!-- Callout section start -->

    <section class="callout">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <h3 class="status">My status</h3>
                </div>

                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 desc">
                    <h3>I'm currently working at Inkoniq IT Solutions.</h3>
                    <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                    <a href="#contact" class="btn btn-default btn-custom-2 callout-btn"><i class="fa fa-paper-plane-o icon-before"></i> Contact me</a>
                </div>

            </div>

        </div>
    </section>

    <!-- Callout section end -->

    <!-- Resume section start -->
    
    <!-- Portfolio section end -->

    <!--Contact us section start-->
    <section class="section" id="contact">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 contact_form">
                <div class="center-wrapper">
                    <div class="center">
                        <h3>Contact</h3>
                        <a class="contact-link" href="tel:+918971254440"><span class="fa fa-phone"></span>+91-8971254440</a>
                        <a class="contact-link" href="mailto:er.jppradhan@gmail.com"><span class="fa fa-envelope-o"></span>er.jppradhan@gmail.com</a>
                        <form id="contact-form-submit">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Your Message Here"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default btn-submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 map" id="map">

            </div>
        </div>
    </section>
    <!--Contact us section end-->