<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,700,500italic,500,400italic' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/animate.css"/>
	<link type="text/css" rel="stylesheet" href="/stylesheets/owl.carousel.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- Preloader -->

    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;">
            <div class="status-mes"><h4>Jyoti Prakash</h4></div>
        </div>
    </div>

    <!-- Navigation start -->

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="clearfix">
                <div id="animate-menu" class="">
                    <div class="menu_block"></div>
                    <div class="menu_block"></div>
                    <div class="menu_block"></div>
                </div>
                <a class="navbar-brand" href="#">Resume</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="fixed-menu">
                <ul>
                    <li class=""><a href="#intro">home</a></li>
                    <li class=""><a href="#profile">Profile</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li class=""><a href="#resume">Resume</a></li>
                    <li class=""><a href="#portfolio">Portfolio</a></li>
                    <li class="active"><a href="#contact">Contact</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- Navigation end -->

    <!-- Intro section start -->

    <section id="intro" class="section backstretch">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <div class="hello">
                        <h1>Hello, I'm Jyoti Prakash</h1>
                        <h3><span class="rotate">UI Developer. </span></h3>
                    </div>

                    <a href="#profile">
                        <div class="mouse-icon">
                            <div class="wheel"></div>
                        </div>
                    </a>

                </div>

            </div><!-- .row -->

        </div><!-- .container -->
    </section>

    <!-- Intro section end -->
    <!-- Profile section start -->

    <section id="profile" class="section">

        <div class="row" id="profile-detail">
            <div class="col-md-6 col-sm-6 col-xs-12" id="headline">
                <div class="center-wrapper">
                    <div class="center">
                        <h2>Jyoti Prakash</h2>
                        <p>UI Developer. JS Programmer.</p>
                    </div>
                </div>

                <!--<img class="avatar profile-pic" src="/images/profile.jpg" alt="">-->
            </div><!-- .Col-sm-6 #headline-->
            <div class="col-md-6 col-sm-6 col-xs-12" id="profile-skill">
                <div class="owl-carousel">
                    <div class="item center-wrapper skill">
                        <div class="center">
                            <h3>Skillset</h3>

                            <h5>UX Design</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-off"></div>
                                <div class="skill-rate-off"></div>
                            </div><!-- .skill-bar-->

                            <h5>HTML / CSS3 / SASS</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-off"></div>
                            </div><!-- .skill-bar-->

                            <h5>Javascript</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                            </div><!-- .skill-bar-->

                            <h5>Angular / React</h5>
                            <div class="skill-bar">
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-on"></div>
                                <div class="skill-rate-off"></div>
                            </div><!-- .skill-bar-->
                            <ul class="widget-social">
                                <li><a href="#"><i class="fa fa-facebook fa-fw"></i></a></li>
                                <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>

                    </div><!-- #profile-widget -->
                    <div class="item center-wrapper" id="profile-desc">
                        <div class="center-wrapper">
                            <h3>Profesional Profile</h3>
                            <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend. I am so happy, my dear friend.</p>
                            <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                        </div>
                    </div><!-- #profile-desc -->
                </div>
            </div><!-- .Col-sm-6 -->
        </div><!-- .row -->
    </section>
    <section class="section" id="services"><!-- services section start -->
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12 col-lg-5" id="cando">
                <div class="cando-slider">
                    <div class="center-wrapper item">
                        <div class="center">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                <h4>Client Requirement</h4>
                                <div class="text">
                                    <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-wrapper item">
                        <div class="center">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-image"></i>
                                </div>
                                <h4>Effective Solutions</h4>
                                <div class="text">
                                    <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-wrapper item">
                        <div class="center">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-cog"></i>
                                </div>
                                <h4>Easy configure</h4>
                                <div class="text">
                                    <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-wrapper item">
                        <div class="center">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h4>Clear code</h4>
                                <div class="text">
                                    <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-wrapper item">
                        <div class="center">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <h4>Responsive design</h4>
                                <div class="text">
                                    <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-wrapper item">
                        <div class="center">
                            <div class="service">
                                <div class="icon">
                                    <i class="fa fa-life-ring"></i>
                                </div>
                                <h4>Support</h4>
                                <div class="text">
                                    <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12 col-lg-7" id="cando-desc">
                <div class="center-wrapper">
                    <div class="center">
                        <h3>What i can do</h3>
                        <h5>My Services</h5>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- services section end -->

    <!-- Callout section start -->

    <section class="callout">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <h3 class="status">My status</h3>
                </div>

                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 desc">
                    <h3>I'm currently working at Inkoniq IT Solutions.</h3>
                    <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                    <a href="#contact" class="btn btn-default btn-custom-2 callout-btn"><i class="fa fa-paper-plane-o icon-before"></i> Contact me</a>
                </div>

            </div>

        </div>
    </section>

    <!-- Callout section end -->

    <!-- Resume section start -->
    <section id="resume" class="section">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 education">
                <div class="overlay"></div>
                <div class="center-wrapper">
                    <div class="center">
                        <h3>Education</h3>
                        <h4>Computer science</h4>
                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                        <hr class="hidden-xs">
                        <h4><i class="fa fa-suitcase"></i> Gandhi Institute for Technological Advancement</h4>
                        <h5><i class="fa fa-calendar"></i> 2008 - 2012</h5>
                        <hr class="visible-xs">
                        <a href="#" class="btn btn-default btn-custom-2"><i class="fa fa-cloud-download icon-before"></i> Download CV</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 experience">
                <div class="center-wrapper">
                    <div class="center">
                        <h3>Experience</h3>
                        <div class="resume-owl">
                            <div class="item">
                                <h4>Front-end developer / Node js programmer</h4>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                <hr class="hidden-xs">
                                <h4 class="company"><i class="fa fa-suitcase"></i> Obelisk Solutions</h4>
                                <i class="fa fa-calendar"></i> 2013 - 2014
                                <hr class="visible-xs">
                            </div>
                            <div class="item">
                                <h4>UI developer / JS programmer</h4>
                                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                <hr class="hidden-xs">
                                <h4 class="company"><i class="fa fa-suitcase"></i> Inkoniq</h4>
                                <i class="fa fa-calendar"></i> 2014 - Present
                                <hr class="visible-xs">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Resume section end -->
    <!-- Portfolio section start -->

    <!--<section id="portfolio" class="section">

        <div class="container">

            <div class="row">

                <div class="col-md-12 headline">
                    <h2>Portfolio</h2>
                    <p>My best works.</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="/images/spidergram.png" class="pop-up" title="Caption 1">
                        <div class="portfolio-item">
                            <div class="portfolio-item-preview">
                                <img src="/images/spidergram.png" alt="">
                            </div>
                            <div class="portfolio-item-description">
                                <h3>Spidergrams</h3>
                                <p>UI and Backend</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="/images/lofi.png" class="video-pop-up" title="Caption 2">
                        <div class="portfolio-item">
                            <div class="portfolio-item-preview">
                                <img src="/images/lofi.png" alt="">
                            </div>
                            <div class="portfolio-item-description">
                                <h3>Emirates Auction</h3>
                                <p>UI with Angular</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="/images/mweb.png" class="pop-up" title="Caption 3">
                        <div class="portfolio-item">
                            <div class="portfolio-item-preview">
                                <img src="/images/mweb.png" alt="">
                            </div>
                            <div class="portfolio-item-description">
                                <h3>Emirates Auction Mobile</h3>
                                <p>UI with Angular</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6" >
                    <a href="/images/nutanix.png" class="pop-up" title="Caption 4">
                        <div class="portfolio-item">
                            <div class="portfolio-item-preview">
                                <img src="/images/nutanix.png" alt="">
                            </div>
                            <div class="portfolio-item-description">
                                <h3>Nutanix</h3>
                                <p>UI, Angular, Hybrid app</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="/images/sesame.png" class="pop-up" title="Caption 5">
                        <div class="portfolio-item">
                            <div class="portfolio-item-preview">
                                <img src="/images/sesame.png" alt="">
                            </div>
                            <div class="portfolio-item-description">
                                <h3>Sesame</h3>
                                <p>Hybrid App</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <a href="/images/agentx.png" class="pop-up" title="Caption 6">
                        <div class="portfolio-item">
                            <div class="portfolio-item-preview">
                                <img src="/images/agentx.png" alt="">
                            </div>
                            <div class="portfolio-item-description">
                                <h3>AgentX</h3>
                                <p>UI and Firebase</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>&lt;!&ndash; .row &ndash;&gt;

        </div>&lt;!&ndash; .container &ndash;&gt;

    </section>-->

    <!-- Portfolio section end -->

    <!--Contact us section start-->
    <section class="section" id="contact">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 contact_form">
                <div class="center-wrapper">
                    <div class="center">
                        <h3>Contact</h3>
                        <a class="contact-link" href="tel:+918971254440"><span class="fa fa-phone"></span>+91-8971254440</a>
                        <a class="contact-link" href="mailto:er.jppradhan@gmail.com"><span class="fa fa-envelope-o"></span>er.jppradhan@gmail.com</a>
                        <form id="contact-form-submit">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Your Message Here"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default btn-submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 map" id="map">

            </div>
        </div>
    </section>
    <!--Contact us section end-->

    <!-- Footer start -->

    <footer id="footer">

        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <p class="copy">
                        © 2016 Jyoti Prakash, All Rights Reserved.
                    </p>
                </div>

            </div><!-- .row -->

        </div><!-- .container -->

    </footer>

    <!-- Footer end -->


    <script type="text/javascript" src="/javascripts/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/javascripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });
        }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap"></script>
    
</body>

</html>
