/**
 * Support: web-master72@yandex.ru;
 * Author: web-master72
 * 
 *
/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

body {
	font: 300 15px/1.6 'Raleway', serif, sans-serif;
	color: #545454;
}
.mouse-icon {
	position: relative;
	border: 2px solid #fff;
	border-radius: 16px;
	height: 50px;
	width: 30px;
	margin: 0 auto;
	display: block;
	z-index: 10;
}

.mouse-icon .wheel {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 4px;
	height: 10px;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 20px 0;
	text-transform: uppercase;
	color: #FFF !important;
}
.navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    font-family: Raleway;
}

.center-wrapper {
    position: relative;
    display: block;
    height: 100%;
}
.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
#intro {
	padding: 260px 0 160px 0;
	text-align: center;
	color: #FFF;
}

#intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
	color: #FFF;
}

#footer {
	background: #49b6b2;
	padding: 20px 0;
	color: #FFF;
}

#footer .copy {
	font-size: 12px;
	margin: 5px 0;
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}


/* My Profile css START */
/* Intro section style start*/
.backstretch {
	background: url("../images/landing.jpg") no-repeat;
    background-size: cover;
}

.fixed-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	background-color: rgba(255, 255, 255, 0.8);
	visibility: hidden;
}
.fixed-menu.visible{
    z-index: 999;
    visibility: visible;
}
.fixed-menu ul {
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	width: 320px;
	margin: 0 auto;
	height: 100%;
	padding: 11% 0;
}

.fixed-menu ul li{
	list-style: none;
	line-height: 2;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition-property: opacity,-moz-transform;
    -o-transition-property: opacity,-o-transform;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.fixed-menu.visible ul li {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.fixed-menu.visible ul li:nth-child(1) {
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.fixed-menu.visible ul li:nth-child(2) {
    -moz-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.fixed-menu.visible ul li:nth-child(3) {
    -moz-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
.fixed-menu.visible ul li:nth-child(4) {
    -moz-transition-delay: 1.1s;
    -o-transition-delay: 1.1s;
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}
.fixed-menu.visible ul li:nth-child(5) {
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.fixed-menu.visible ul li:nth-child(6) {
    -moz-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.fixed-menu ul li a{
	list-style: none;
	color: #000;
	font-weight: 400;
	font-size: 32px;
	text-decoration: none;
}
.fixed-menu ul li a:hover{
	color: #49B6B2;
}

#animate-menu {
    float: right;
    position: relative;
    height: 36px;
    width: 28px;
    cursor: pointer;
    -moz-transition-property: top;
    -o-transition-property: top;
    -webkit-transition-property: top;
    transition-property: top;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    top: 25px;
    left: 33px;
}

.menu_block {
    width: 28px;
    height: 4px;
    position: absolute;
    left: 0px;
    -moz-transition-property: top,-moz-transform,background-color,left,opacity,right;
    -o-transition-property: top,-o-transform,background-color,left,opacity,right;
    -webkit-transition-property: top,-webkit-transform,background-color,left,opacity,right;
    transition-property: top,transform,background-color,left,opacity,right;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: #fff;
    z-index: 1000;
}

.menu_block:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    height: 4px;
    transition-property: transform;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1)
}

.menu_block:nth-child(1) {
    top: 7px
}

.menu_block:nth-child(2) {
    top: 16px
}

.menu_block:nth-child(3) {
    top: 25px
}
#animate-menu.open .menu_block {
    background-color: #000;
}
#animate-menu.open .menu_block:nth-child(1) {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    top: 16px;
    -webkit-backface-visibility: hidden
}

#animate-menu.open .menu_block:nth-child(2) {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-backface-visibility: hidden
}

#animate-menu.open .menu_block:nth-child(3) {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-backface-visibility: hidden
}
/* Intro section style end*/
/* Profile section style start*/
#profile {
    overflow: hidden;
    background: #151515;
}
#headline {
    padding: 0;
    background: url("../images/profile.jpg") no-repeat;
    background-size: cover;
    height: 90vh;
}
#headline h2{
    color: #ffffff;
    font-size: 40px;
}
#headline p {
    color: #fff;
}
#headline img {
    width: 100%;
}

#profile-skill .item{
    height: 90vh;
}
#profile-skill h1,
#profile-skill h2,
#profile-skill h3,
#profile-skill h4,
#profile-skill h5,
#profile-skill h6,
#profile-skill p,
#profile-skill {
    color: #ffffff;
}

.skill-bar {
    background: #ffffff;
    display: table;
    height: 4px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.skill-rate-on, .skill-rate-off {
    display: table-cell;
    border-left: 2px solid #151515;
    border-right: 2px solid #151515;
}
.skill-bar .skill-rate-on {
    background: #49b6b2;
}

.skill h3 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.skill h4 {
    font-size: 30px;
    text-transform: uppercase;
}
.widget-social {
    padding: 0;
    margin: 0;
    display: block;
    margin-top: 30px;
}
.widget-social li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}
.widget-social li a {
    background: #ffffff;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.25em;
    color: #000;
}

.widget-social li a:hover{
    background: #EF4836;
    color: #fff;
}

#profile-desc {
    padding: 20%;
}
#profile-desc h3 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
#profile-desc p{
    line-height: 1.5;
}
/* Profile section style end */
/* Services section style start*/
#services {
    overflow: hidden;
    background: #151515;
}

#cando-desc {
    height: 90vh;
    overflow: hidden;
}
#cando .item {
    height: 90vh;
}
#cando-desc{
    background: url('../images/cando.jpg') no-repeat;
    background-size: cover;
}
#cando-desc h3 {
    color: #f1c40f;
    font-size: 40px;
    text-transform: uppercase;
}
#cando-desc h5 {
    color: #2ecc71;
    font-size: 20px;
    font-weight: 700;
    font-family: Raleway;
}
.cando-slider {
    height: 100%;
}
.service {
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    color: #ffffff;
}
.service .icon {
    font-size: 50px;
    color: #49b6b2;
}
.service h4 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service p {
    margin-top: 15px;
}

/* Callout section start */
.callout {
    background: #ecf0f1;
    padding: 30px 0px 40px 0px;
}
.callout .status {
    font-size: 30px;
    text-transform: uppercase;
}
.callout .desc {

}
.btn.callout-btn {
    padding: 10px 20px;
    border: 2px solid #49b6b2;
    border-radius: 0;
}
.btn.callout-btn:hover {
    background: #49b6b2;
    color: #ffffff;
}
/* Callout section end */

/* Resume section start */
#resume {
    overflow: hidden;
    background: #151515;
}
.education, .experience{
    height: 90vh;
}
.education {
    background: url("../images/resume.jpg") no-repeat;
    background-size: cover;
    color: #151515;
}
.education .center {
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
}
.education h3 {
    font-size: 40px;
    font-family: Raleway;
    font-weight: 700;
}
.education h4 {
    font-family: Raleway;
    font-weight: 500;
}
.education p {
    font-style: italic;
}

.education .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(239, 190, 67, 0.7);
}

.btn-custom-2 {
    background: transparent;
    border: 2px solid #222;
    padding: 15px 25px;
    margin-top: 20px;
    margin-left: 30%;
}
.btn-custom-2:hover, .btn-custom-2:focus, .btn-custom-2:active, .btn-custom-2.active {
    background: #222;
    border: 2px solid #222;
    color: #FFF;
}
.experience {
    color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
}
.experience h3 {
    font-size: 40px;
    color: #49b6b2;
}
.experience .item h4 {
    font-size: 25px;
    padding-top: 15px;
}
.experience .item h4.company {
    text-transform: uppercase;
    font-size: 18px;
}
.experience .item p {
    margin-top: 15px;
    padding-left: 15px;
    text-align: left;
}

.experience .owl-theme .owl-controls {
    bottom: -40px;
}
/* Resume section end */
/* Portfolio section Start */
#portfolio{
    background: #fff;
    padding-bottom: 30px;
    font-weight: 700;
}

#portfolio h2 {
    font-size: 40px;
    text-transform: uppercase;
}

.portfolio-item {
    margin-bottom: 15px;
    overflow: hidden;
    max-height: 220px;
}

.portfolio-item-preview {
    position: relative;
}
.portfolio-item-description {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}

.portfolio-item-preview {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.portfolio-item:hover .portfolio-item-preview {
    -webkit-transform: scale(1.1) rotate(2deg);
    -moz-transform: scale(1.3) rotate(3deg);
    -ms-transform: scale(1.3) rotate(3deg);
    -o-transform: scale(1.3) rotate(3deg);
    transform: scale(1.2) rotate(3deg);
}

.portfolio-item:hover .portfolio-item-description {
    opacity: 1;
    bottom: 0;
}

.portfolio-item-description {
    background: rgba(255, 255, 255, .85);
    position: absolute;
    right: 0;
    bottom: -70px;
    left: 0;
    padding: 25px;
    text-align: center;
    opacity: 0;
    color: #222;
}

.portfolio-item img{
    width: 100%;
    overflow: hidden;
}
/* Portfolio section end */
/* Contact section start */
#contact {
    background: #151515;
}
.contact_form, .map {
    height: 90vh;
}
.contact_form {
    padding-left: 5%;
    padding-right: 5%;
}
.contact_form h3{
    font-size: 40px;
    color: #49b6b2;
    font-weight: 700;
    font-family: Raleway;
    margin-bottom: 30px;
    text-align: left;
}

#email, #name, #message {
    border-radius: 0;
    height: 50px;
    box-shadow: none;
    outline: 0;
}
#email:focus, #name:focus, #message:focus {
    border: 1px solid #49b6b2;
    box-shadow: none;
    outline: 0;
}
.btn-submit {
    padding: 15px 40px;
    background: #ffffff;
    color: #151515;
    border-radius: 0;
    outline: 0;
    border: 2px solid #ffffff;
    font-weight: 500;
    font-family: Raleway;
}
.btn-submit:hover,.btn-submit:focus,.btn-submit:active {
    background: #49b6b2;
    color: #ffffff;
    border: 2px solid #ffffff;
    outline: 0;
}
#contact-form-submit {
    margin-top: 20px;
}
.contact_form .contact-link {
    display: block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-align: left;
}
.contact_form .contact-link span{
    padding-right: 15px;
}
/* Contact section end */
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
	.navbar-toggle {
	    display: block;
	}
}
