/*
 Color:
 BLUE: #173e43;
 YELLOW: #fae596;
 GREY: #dddfd4;
 LIGHT-BLUE: #3fb0ac;
 */
html, body{
	overflow-x: hidden;
}
body {
	background-color: #ffffff;
}
nav {
	background-color: #173e43;
}
/*section{
	height: 100vh;
	width: 100vw;
}*/

.landing-page {
	background: url('../images/landing.jpg') no-repeat;
	background-size: cover;
}
.landing-page .name {
	text-align: center;
}

.landing-page .name .valign-wrapper {
	height: 83vh;
}
.landing-page .name h2 {
	color: #fff;
	width: 100%;
}

.valign-wrapper {
	position: relative;
	display: block;
}
.valign-wrapper .valign {
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	width: 100%;
}
#animated-text {
	color: #ffffff;
}
.row {
	margin-bottom: 0px;
}
.contact-info {
	background-color: #ffffff;
	min-height: 100px;
	margin: 0;
}
.contact-info .inner {
	padding-top: 20px;
	text-align: center;
}
.contact-info .inner .info {
	display: inherit;
}

.contact-info .inner a.info[href^=mailto] {
	color: #EF4836;
}

.contact-info .inner .material-icons {
	font-size: 40px;
}
.summary {
	padding-top: 60px;
}
.profile-pic img {
	width: 100%;
}
.padding-top-40 {
	padding-top: 40px;
}
.skill-bar {
    background: #C4C4C4;
    display: table;
    height: 4px;
    width: 100%;
    margin: 10px -2px 20px -2px;
}
.skill-bar .skill-rate-on {
    background: #353535;
}
.skill-rate-on, .skill-rate-off {
    display: table-cell;
    border-left: 2px solid #FFF;
    border-right: 2px solid #FFF;
}

.profile-widget {
    margin-bottom: 40px;
}
.widget-social {
    padding: 0;
    margin: 0;
}
.widget-social li {
    display: inline-block;
    margin-right: 5px;
}
.widget-social li a {
    background: #2e2e2e;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.25em;
    color: #FFF;
}
.widget-social li a:hover {
    background: #EF4836;
}